{% extends 'core/base.html'%} {% load static%}
<!-- this place is save  -->
{%block title%}Dashboard{%endblock%} {%block content%}
<div class="container-fluid">
  <div class="row justify-content-end"></div>

  <!-- Product Section Begin -->
  <section class="product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="section-title">
            <div class="col-4">
              <h1>Items Added</h1>
            </div>
            <div class="col-4 justify-content-end">
              <button class="btn btn-success mt-2" type="submit">
                <a
                  href="{% url 'item:new'%}"
                  class="text-decoration-none text-light"
                  >New item</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row property__gallery">
        {% for item in items%}
        <div class="col-lg-3 col-md-4 col-sm-6 mix women">
          <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="">
              <img
                src="{{item.image.url}}"
                class="card-img"
                alt="Hollywood Sign on The Hill"
                width="10"
              />
              <ul class="product__hover">
                <li>
                  <a href="#"
                    ><span class="icon_heart_alt fa fa-heart"></span
                  ></a>
                </li>
                <li>
                  <a href="#"><span class="icon_bag_alt fa fa-plus"></span></a>
                </li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6><a href="{%url 'item:detail' item.id%}">{{item.name}}</a></h6>

              <div class="product__price">{{item.price|floatformat:2}}MAD</div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </section>
  <!-- Product Section End -->
</div>
{%endblock%}
