{%extends 'core/base.html'%} {%block title%}{{item.name}}{%endblock%}
<!-- lkfsdfhsdfh -->
{%block content%}
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="{{item.image.url}}"
          class="card-img"
          alt="Hollywood Sign on The Hill"
          width="10"
        />
      </div>
      <div class="col-lg-6">
        <div class="product__details__text">
          <h3>
            {{item.name}} <span>Brand: SKMEIMore Men Watches from SKMEI</span>
          </h3>
          <div class="product__details__price">
            {{item.price|floatformat:2}} MAD
          </div>
          <p>{{item.description}}</p>
        </div>
        {% if request.user == item.created_by %}
        <button class="btn btn-success">
          <a
            href="{%url 'item:edit' item.id%}"
            class="text-decoration-none text-light"
            >Edit</a
          >
        </button>
        <button class="btn btn-danger">
          <a
            href="{%url 'item:delete' item.id%}"
            class="text-decoration-none text-light"
            >Delete</a
          >
        </button>
        {%else%}
        <button class="btn btn-success text-light">
          <a href="" class="text-decoration-none text-light">Contact seller </a>
        </button>
        {%endif%}
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#tabs-1"
                role="tab"
                >Description</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <h6>Description</h6>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="related__title">
          <h5>RELATED PRODUCTS</h5>
        </div>
      </div>
      {%for item in related_items%}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="img/product/related/rp-1.jpg"
          ></div>
          <div class="product__item__text">
            <img
              src="{{item.image.url}}"
              class="card-img"
              alt="Hollywood Sign on The Hill"
              width="10"
            />
            <h6><a href="{%url 'item:detail' item.id%}">{{item.name}}</a></h6>
            <div class="product__price">{{item.price|floatformat:2}}MAD</div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
{%endblock%}
