<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>{%block title%}{%endblock%} | Marketplace</title>
</head>
<body>
  <div class=".container-lg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">MarketPlace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
             
              <a href="{% url 'item:items'%}" class="text-decoration-none text-light nav-link">Brows</a> 
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu col" aria-labelledby="navbarDropdown">
                {%for category in categories%}
                <li><a href="{%url 'item:items'%}?query={{query}}&category={{category.id}}" class="dropdown-item">{{category.name}}</a></li>
                {%endfor%}
              </ul>
            </li>
          </ul>
    

           
            <div class="d-flex align-content-start flex-wrap">
              {%csrf_token%}
              {% if request.user.is_authenticated%}
                <button class="btn btn-outline-success me-2 mt-2" type="submit"><a href="{%url 'dashboard:index'%}" class="text-decoration-none text-light">Dashboard </a> </button>
                <button class="btn btn-outline-success me-2 mt-2" type="submit"><a href="{%url 'logout'%}" class="text-decoration-none text-light">logout </a> </button>
              {%else%}
                  <button class="btn btn-outline-success me-2" type="submit"><a href="{%url 'login'%}" class="text-decoration-none text-light">Login</a> </button>
                  <button class="btn btn-success " type="submit"><a href="{% url 'signup' %}" class="text-decoration-none text-light">sign up </a> </button>
              {%endif%}
            </div>
           
                

          </div>
        </div>
    </nav>
    
        {%block content%}
        {%endblock%}
   
    <!-- <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col-lg-8 mb-3">
            <h3  class="">About</h3>
          <p class="text-muted">© 2022 </p>
        </div>
    
        <div class="col-lg-4 mb-3">
          <h5>Menu</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          </ul>
        </div>

      </footer> -->
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>