{% extends 'core/base.html'%}
{% load static%}

{%block title%}Home{%endblock%}

<!-- 
<div class="container-fluid p-2" >

        <h1 class="d-flex justify-content-center m-4">Newst Items {{request.user}}</h1>
        <div class="row row-cols-3 g-3 p-4" style="background-color: rgb(210, 210, 210,0.6)">
            {%for item in items%}
                <div class="col">
                <div class="card">
                    <img src="{{item.image.url}}" class="card-img"
                    alt="Hollywood Sign on The Hill" width="10"/>
                    <div class="card-body">
                    <a href="{%url 'item:detail' item.id%}">{{item.name}}</a>
                    <h6 class="card-title fs-6 text-muted">Price : {{item.price}} MAD</h6>
                    <p class="card-text">
                        {{item.description}}
                    </p>
                    </div>
                </div>
                </div>
            {%endfor%}
        </div>
        <div class="row row-cols-3 g-3 p-4" style="background-color: rgb(210, 210, 210,0.6)">
            {%for cat in categories%}
                <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">{{cat.name}}</h5>
                    <h6 class="card-title fs-6 text-muted"> {{cat.items.count}} </h6>
                    </div>
                </div>
                </div>
            {%endfor%}
        </div>

</div>
 -->

{%block content%}
<div class="container-fluid ">
    <div class="d-flex justify-content-center mt-5">
        <div class=" d-flex ustify-content-center align-content-center">
          <h1>Items </h1>
        </div>
    </div>
    <div class="" style="background-color: rgb(210, 210, 210,0.6)">
        <div class="row">
            {%for item in items%}
                <div class="col-md-3 p-5">
                    <div class="card" style="width: 18.6rem;">
                        <img src="{{item.image.url}}" class="" alt="..." width="290" height="290">
                        <div class="card-body">
                          <h5 class="card-title"><a href="{%url 'item:detail' item.id%}" class="text-decoration-none text-muted">{{item.name}}</a></h5>
                          <p class="card-text">{{item.description}}</p>
                          <h3 class="card-title">Price : {{item.price}} MAD</h3>
                          <h6 class="card-title">Added by  : {{item.created_by}}</h6>
                        </div>
                    </div>
                </div>
            {%endfor%}
            </div>
        </div>
    </div>
</div>
{%endblock%} 